contentWidth     = 1040px
applicationWidth = 1040px
canvasWidth      = 960px

mainColor        = #fff
subColor         = #000

fontMainColor    = #000

accentColorBlue  = #99f
//- accentColorRed   = #d13081

@font-face
  font-family 'cinecaption'
  src local('cinecaption'), url('../file/font/cinecaption2.28.ttf')  format('truetype') 
  font-weight  normal
  font-style   normal 
//- Roboto を Google Fonts からインポート（Jade内部）

body, div, footer
  margin 0
  padding 0
.copyright
  font-family 'Roboto'
a
  text-decoration none
a:link
  color accentColorBlue
a:hover
  color accentColorBlue
a:visited
  color fontMainColor
html, body
  height 100%
body
  font-family 'cinecaption'
  background-color subColor
  font-size 14px
h1
  font-size 2em
  background-color subColor
  color accentColorBlue
  margin 0
  padding 0.5em 0 1em 1em
#container
  width            contentWidth
  padding          1em 4em
  margin           0 auto
  background-color mainColor
  line-height      1.55
#description
  width      canvasWidth
  text-align left
  margin     0 auto 1em auto
  p
    margin 0 0 1em 0
#application
  width = applicationWidth
#canvas
  display block
  width   canvasWidth
  height  540px
  margin  0 auto
  background-color subColor

#control
  width   canvasWidth
  text-align center
  margin  0 auto
  input
    font-family 'cinecaption'
    font-size 14px
    border-radius 5px 5px
    border 2px accentColorBlue solid
    padding 4px
    background-color mainColor
    margin 0em 1em
  input[type=checkbox]
    cursor pointer
    margin  0 0 0 1em
    padding 0
    width   1.3em
    height  1.3em
    vertical-align bottom
  label
    cursor pointer
  input[type=checkbox]:checked
  .caption
    input
      background-color #dfdfdf
      padding 0.3em
      margin 0
      border-radius 0 0
      width 35em
  a
    font-family 'cinecaption'
    font-size 14px
    border-radius 5px 5px
    border 2px accentColorBlue solid
    padding 4px
    background-color mainColor
    margin 0em 1em
    cursor pointer
  a:link
    color accentColorBlue
  a:hover
    color accentColorBlue
  a:visited
    color  fontMainColor
    cursor pointer
#thanks
  text-align center
  padding 0 1em 0 0
footer
  text-align center
  padding 0 1em 1em 0
