contentWidth     = 1040px
applicationWidth = 1040px
canvasWidth      = 960px
canvasHeight     = 540px

mainColor        = #f5f5f5
subColor         = #000

fontMainColor    = #333

accentColorBlue  = #99f
accentColorGreen = #9c9
fontSizeDefault  = 14px
fontSizeSmall    = small
fontFamilyDefault = 'cinecaption'
//- accentColorRed   = #d13081

@font-face
  font-family fontFamilyDefault
  src local('cinecaption')
  , url('../file/font/cinecaption2.28.woff')  format('woff') 
  , url('../file/font/cinecaption2.28.ttf')  format('truetype') 
  font-weight  normal
  font-style   normal 
//- Roboto を Google Fonts からインポート（Jade内部）

.flipflop
  display none
.flipflop.display_block
  display block
.flipflop.display_inline
  display inline
.flipflop.display_inline-block
  display inline-block
body, div, footer
  margin 0
  padding 0
.copyright
  font-family 'Open Sans'
a
  text-decoration none
a:link
  color accentColorBlue
a:hover
  color accentColorBlue
a:visited
  color fontMainColor
html, body
  height 100%
body
  color fontMainColor
  font-family fontFamilyDefault
  background-color subColor
  font-size fontSizeDefault
h1
  font-size 2em
  margin 0
  padding 0.5em 0 0.5em 0.5em
header
  width            contentWidth
  margin           0 auto
  background-color mainColor
#container
  width            contentWidth
  padding          0.5em 0 1em 0
  margin           0 auto
  background-color mainColor
  line-height      1.55
#description
  width      canvasWidth
  text-align left
  margin     0 auto 1em auto
  p
    margin 0 0 1em 0
#application
  width = applicationWidth
#canvas
  display block
  margin auto
  max-width   canvasWidth
  max-height  canvasHeight
  background-color subColor
#easel
  margin  0 auto
  width   canvasWidth
  height  canvasHeight
  background-color subColor
  text-align center
  display table-cell
  vertical-align middle

#workbench
  margin 0 auto
  width  canvasWidth
  height canvasHeight
  background-color subColor
#control
  width   canvasWidth
  text-align center
  margin 1em auto 1em auto

  //- 下のinputボタンと比べて、line-height 1emが追加になっているだけ。
  //- 機能が定着したら整理しないと……。
  .fileButton
    line-height 1em
    font-family fontFamilyDefault
    font-size fontSizeDefault
    border-radius 5px 5px
    border 2px accentColorBlue solid
    padding 4px
    background-color mainColor
    margin 0em 1em
    cursor pointer
    width 7em
  input
    font-family fontFamilyDefault
    font-size fontSizeDefault
    border-radius 5px 5px
    border 2px accentColorBlue solid
    padding 4px
    background-color mainColor
    margin 0em 1em
    cursor pointer
    width 7em
  input:focus
    outline 1px dotted accentColorBlue
  input[type=text]
    background-color #dfdfdf
  input[type=text]:focus
    outline 0
  #filter
    margin 0.5em 0em
    width 15em
    display table-cell
    text-align justify
    ,input
      border 2px accentColorGreen solid
      margin 0 1em .5em 1em
      width 5em
    .memory
      display inline-block
      margin 1em 0 0 0
      input
        border 2px #aaa solid
  #makeIt
    display table-cell
    vertical-align middle
    margin .5em .5em
    padding 0 1em
    width 40em
    input
      margin 0em .5em
      border-radius 5px
      vertical-align bottom
    #caption
      input[type=text]
        cursor text
        margin .5em 0
        padding .3em
        width 35em
      input[type=text]:focus
        background-color mainColor
      .add_2nd_line
        vertical-align top
        margin 0
        height 1em
        padding .3em 0
        font-size 1em
        cursor pointer
    #tweetBox
        margin .5em .5em
      textarea
        border 2px accentColorGreen solid
        font-size fontSizeDefault
        background-color mainColor
        padding .3em
        margin 0em 0em
        border-radius 5px
        width 35em
    a
      line-height normal
      vertical-align bottom
      font-family fontFamilyDefault
      font-size fontSizeDefault
      border-radius 5px
      border 2px accentColorBlue solid
      padding 4px
      background-color mainColor
      margin 0em .5em
      cursor pointer
    a:link
      color accentColorBlue
    a:hover
      color accentColorBlue
    a:visited
      background-color mainColor
      color  fontMainColor
      cursor pointer
  #setting
    display table-cell
    text-align left
    margin 0.5em 0em
    width 9em
    input[type=checkbox]
      cursor pointer
      margin  0 0 0 1em
      padding 0
      width   1.3em
      height  1.3em
      vertical-align bottom
    label
      font-family fontFamilyDefault
      cursor pointer
      font-size fontSizeDefault
    .child
      margin-left 2em
      font-size fontSizeSmall
      input[type=radio]
        font-size fontSizeSmall
        cursor pointer
        margin  0 0 0 1em
        padding 0
        width   1.3em
        height  1.3em
        vertical-align bottom
      label
        font-family fontFamilyDefault
        font-size fontSizeSmall
        cursor pointer
        margin-left 0
    //-input[type=checkbox]:checked
#thanks
  text-align center
  margin  2em 0 0 0
  padding 0 1em 0 0
footer
  text-align center
  padding 0 1em 1em 0
  margin  1em 0 0 0
