doctype
html(lang="ja")
  - title = "#ssに字幕を入れてオリジナルシーンを作ってみる ジェネレーター"
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="css/app.css")
    link(rel="icon", sizes="16x16 32x32", href="favicon.png", type="image/png")
    meta(charset="UTF-8")
  body
    h1= title 
    #container
      #application
        #description
          p
            | Twitter の
            a(href!="https://twitter.com/search?q=%23ss%E3%81%AB%E5%AD%97%E5%B9%95%E3%82%92%E5%85%A5%E3%82%8C%E3%81%A6%E3%82%AA%E3%83%AA%E3%82%B8%E3%83%8A%E3%83%AB%E3%82%B7%E3%83%BC%E3%83%B3%E3%82%92%E4%BD%9C%E3%81%A3%E3%81%A6%E3%81%BF%E3%82%8B&src=typd") #ssに字幕を入れてオリジナルシーンを作ってみる
            | タグ用画像を簡単に作るためのジェネレーターです。
            br
            | …が、直接投稿できないので、画像を保存する手間がかかります。どうしましょうねー。
          p 
            | 上手くできない場合は、キャッシュを削除してみてください。
            | 時々本当に壊れてるので、その時は教えてください……。
        #debug(v-model="debug")
        #workbench
          canvas#canvas(v-model="canvas")
        #control
          #filter
            input(type="button", value="みほん", v-on:click="effect('sample')")
            input(type="button", value="あやしげ", v-on:click="effect('vignette')")
            input(type="button", value="めりはり", v-on:click="effect('contrast+')")
            input(type="button", value="かげうす", v-on:click="effect('desaturate')")
            input(type="button", value="あかるく", v-on:click="effect('brightness+')")
            input(type="button", value="くらく", v-on:click="effect('brightness-')")
            input(type="button", value="のいず", v-on:click="effect('noise')")
          #makeIt
            #caption
              input(type="text", v-model="text")
            input(type="button", value="これでつくる", v-on:click="edit")
            input(type="button", value="もじけし", v-on:click="effect('reset')")
            a(href="{{imageData}}", download="{{fileName}}", class="flipflop", v-bind:class="{'display_inline': !msBrowser && downloadReady}") だうんろーど
            //- Microsoft Edge, Internet Explorer は download属性に対応していないのでこちら。
            input(type="button", value="だうんろーど", v-on:click="msDownload", class="flipflop", v-bind:class="{'display_inline': msBrowser && downloadReady}")
          #setting
            input#copyright(type="checkbox", v-model="copyright")
            label(for="copyright")
              span.copyright (C)SEGA
            input#mask(type="checkbox", v-model="mask")
            label(for="mask") ますく
            span(class="flipflop", v-bind:class="{'display_inline': !msBrowser}")
              input#toJpeg(type="checkbox", v-model="toJpeg")
              label(for="toJpeg") あっしゅく
            input#sequence(type="checkbox", v-model="sequence")
            label(for="sequence") れんぞく（ファイル名が保持されません。）
        #thanks
          p 
            | 使用フォント 
            a(href="http://chiphead.jp/") しねきゃぷしょん
        footer
          p ツール自体を改造したいなら
            a(href="https://github.com/pso2tasy/make_original_scene") こちら。
          p 
            | 何かあれば 
            a(href="https://www.twitter.com/pso2tasy") @pso2tasy
            | まで。
    script(type="text/javascript", src="js/app.js")
