doctype
html(lang="ja")
  - title = "#ssに字幕を入れてオリジナルシーンを作ってみる 支援ツール"
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="css/app.css")
    link(rel="icon", sizes="16x16 32x32", href="favicon.png", type="image/png")
    meta(charset="UTF-8")
  body
    h1= title 
    #container
      #application
        #description
          p
            | Twitter の
            a(href!="https://twitter.com/search?q=%23ss%E3%81%AB%E5%AD%97%E5%B9%95%E3%82%92%E5%85%A5%E3%82%8C%E3%81%A6%E3%82%AA%E3%83%AA%E3%82%B8%E3%83%8A%E3%83%AB%E3%82%B7%E3%83%BC%E3%83%B3%E3%82%92%E4%BD%9C%E3%81%A3%E3%81%A6%E3%81%BF%E3%82%8B&src=typd") #ssに字幕を入れてオリジナルシーンを作ってみる
            | タグ用画像を簡単に作るためのページです。
            br
            | 画像をドラッグアンドドロップでページに入れて、下のところで文字を入れて作ります。
            br
            | …が、直接投稿できないので、画像を保存する手間がかかります。どうしましょうねー。
          p
            | Google Chrome での使用をお勧めします。次点は Firefox 、「だうんろーど」に少し時間がかかります。
            | これらのブラウザで上手くできない場合は、キャッシュを削除してみてください。
          p
            | Microsoft Edge や Internet Explorer むけの「だうんろーど」をためしに作りました。
            | Firefox よりずっと早いです。
          //- p(class="flipflop" v-bind:class="{'display_yes': msBrowser}")
        #debug(v-model="debug")
        #workbench
          canvas#canvas(v-model="canvas")
        #control
          p
            input#copyright(type="checkbox", v-model="copyright")
            label(for="copyright")
              | コピーライト（
              span.copyright (C)SEGA
              |）
            input#mask(type="checkbox", v-model="mask")
            label(for="mask") マスクを入れる 幅 
            span(v-text="maskHeight")
            | px
            input#sequence(type="checkbox", v-model="sequence")
            label(for="sequence") 連続でつくる（ファイル名が保持されません。）
          p.caption
            input(type="text", v-model="text")
          p
            input(type="button", value="これでつくる", v-on:click="edit")
            a(href="{{imageData}}", download="{{fileName}}" class="flipflop" v-bind:class="{'display_inline': !msBrowser}") だうんろーど
            //- Microsoft Edge, Internet Explorer は download属性に対応していないのでこちら。
            input(type="button", value="だうんろーど", v-on:click="msDownload" class="flipflop" v-bind:class="{'display_inline': msBrowser}")
        #thanks
          p 
            | 使用フォント 
            a(href="http://chiphead.jp/") しねまきゃぷしょん
        footer
          p ツール自体を改造したいなら
            a(href="https://github.com/pso2tasy/make_original_scene") こちら。
          p 
            | 何かあれば 
            a(href="https://www.twitter.com/pso2tasy") @pso2tasy
            | まで。
    script(type="text/javascript", src="js/app.js")
