doctype
html(lang="ja")
  - title = "#ssに字幕を入れてオリジナルシーンを作ってみる ジェネレーター プライバシーポリシー"
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="css/app.css")
    link(rel="icon", sizes="16x16 32x32", href="favicon.png", type="image/png")
    meta(charset="UTF-8")
  body
    header
      h1= title 
    #container
      #application
        #description
          p
            | #ssに字幕を入れてオリジナルシーンを作ってみる ジェネレーター は、個人情報を収集していません。
            br
            | また、それに準ずるIPアドレス等のアクセスログについては、犯罪捜査等、法律によって義務付けられた場合を除き、あらゆる第三者に対し開示行為を行いません。
