doctype
html(lang="ja")
  - title = "#ssに字幕を入れてオリジナルシーンを作ってみる ジェネレーター"
  head
    title= title
    link(rel="stylesheet", href="css/app.css")
    meta(charset="UTF-8")
  body
    header
      h1= title 
    #container
      #application
        #description
          p
            | 画像をアップロードしています。回線しだいでけっこうかかります。
